.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

[class*="col_"] {
    padding-left: 15px;
    padding-right: 15px;
}

.col_xs_2 {
    width: 16.66%;
}
.col_xs_4 {
    width: 33.33%;
}
.col_xs_12 {
    width: 100%;
}


/* ---------------------------------TABLET---------------------------- */

@media(min-width:768px) {
    .container {
        max-width: 720px;
    }
    .col_sm_5 {
        width: 50%;
    }
}



/* ---------------------------------LAPTOP---------------------------- */

@media(min-width:992px) {
    .container {
        max-width: 960px;
    }
    .col_md_1 {
        width: 8.33%;
    }
    .col_md_2 {
        width: 16.66%;
    }
    .col_md_4 {
        width: 33.33%;
    }
    .col_md_5 {
        width: 41.65%;
    }
}



/* ---------------------------------DESKTOP---------------------------- */

@media(min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}